
#Created by Constraints Editor (xc6slx9-csg324-2) - 2011/07/20
NET "CLK_66MHz" TNM_NET = "CLK_66MHz";
TIMESPEC TS_CLK_66MHz = PERIOD "CLK_66MHz" 66666 KHz HIGH 50 % INPUT_JITTER 1000 ps;

# PlanAhead Generated physical constraints 

NET "BTN0" LOC = V4;
NET "CLK_66MHz" LOC = K15;
NET "LED0" LOC = P4;
NET "LED1" LOC = L6;
NET "LED2" LOC = F5;
NET "LED3" LOC = C2;
NET "SW0" LOC = B3;
NET "SW1" LOC = A3;
NET "SW2" LOC = B4;
NET "SW3" LOC = A4;
NET "UART_RXD" LOC = R7;
NET "UART_TXD" LOC = T7;
NET "DBG_OFF" LOC = C18;
NET "MCLK" LOC = F15;

# PlanAhead Generated IO constraints 

NET "BTN0" IOSTANDARD = LVCMOS33;
NET "CLK_66MHz" IOSTANDARD = LVCMOS33;
NET "LED0" IOSTANDARD = LVCMOS18;
NET "LED1" IOSTANDARD = LVCMOS18;
NET "LED2" IOSTANDARD = LVCMOS18;
NET "LED3" IOSTANDARD = LVCMOS18;
NET "SW0" IOSTANDARD = LVCMOS33;
NET "SW1" IOSTANDARD = LVCMOS33;
NET "SW2" IOSTANDARD = LVCMOS33;
NET "SW3" IOSTANDARD = LVCMOS33;
NET "UART_RXD" IOSTANDARD = LVCMOS33;
NET "UART_TXD" IOSTANDARD = LVCMOS33;
NET "DBG_OFF" IOSTANDARD = LVCMOS33;
NET "MCLK" IOSTANDARD = LVCMOS33;
NET "LED0" DRIVE = 8;
NET "LED1" DRIVE = 8;
NET "LED2" DRIVE = 8;
NET "LED3" DRIVE = 8;
NET "BTN0" PULLDOWN;
NET "SW0" PULLDOWN;
NET "SW1" PULLDOWN;
NET "SW2" PULLDOWN;
NET "SW3" PULLDOWN;
NET "DBG_OFF" PULLUP;

CONFIG VCCAUX = "3.3";

PIN "buf_sys_clock.O" CLOCK_DEDICATED_ROUTE = FALSE;